body {
  font-family: "Open Sans", sans-serif;
}

header {
  margin: 0 auto;
  width: 60%;
}

.main-header {
  margin: 1rem;
  text-align: center;
  font-weight: 700;
}

.highlighted {
  background-color: aquamarine;
}

pre {
  margin-bottom: 8px !important;
  border-radius: 4px !important;
}
